@import "tailwindcss";
@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/webfonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "Vazir", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: light;
    font-family: "Vazir";
  }
}
* {
  scrollbar-color: #f56f15e9 #ffffff8e;
  scrollbar-width: 0.1rem;
}

.ltr-input input {
  direction: ltr !important;
  text-align: left !important;
}

.ltr-input input::placeholder {
  direction: rtl !important;
  text-align: right !important;
}
