@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: light;
  }
}

.ltr-input input {
  direction: ltr !important;
  text-align: left !important;
}

.ltr-input input::placeholder {
  direction: rtl !important;
  text-align: right !important;
}
